/* Credit to https://www.w3schools.com/howto/howto_css_tooltip.asp */

/* Tooltip container */
.tooltip {
    position: relative;
    /* display: inline-block; */
    /* w3schools put the line above in the code. however, it makes the algorithm notation look weird. I'm leaving it in for now, just commented */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* This is for the algorithm tables created by algorithms.js */

.alg {
    border:solid;
    text-align: center;
    margin: 0;
    /* margin-right: 0; */
}

.algHeader {
  background-color: #B1DDAB;
}